<h1><%=pageTitle%></h1>
<h2><%=disc.title%></h2>
<span class="image main" style="width:200px;">
    <img src="/images/<%=disc.image%>.jpg" alt="<%=disc.title%>" />
</span>
<p>L'album <%=disc.title%> est interprété par <%=disc.band%></p>
<p><a href="/catalogue" class="button">Retour</a></p>
